.ItemStyle{
    margin-top: 40px;
    margin-left: 0px;
}

.Prototype{
    margin-top: 100px;
    margin-left: 710px;
}

.warning{
    margin-top: 100px;
    
}

.nombre{
    margin-left: 450px;
}

.icon{
    position: relative;
    left: 450px;
}